<div class="list-result content-page mt-5">
    {% for concour in data %}
        <div class="result py-4 px-2">
            <i class="fas fa-user-graduate fa-2x mr-2"></i>
            <div class="teaser px-2">
                <a href="{{ concour.url }}"><h4>{{ concour.title }}</h4></a>
                <div class="d-flex justify-content-start align-items-start my-4">
                    {% if concour.date_publication is not empty %}
                        <div class="text-center w-25">
                            <i class="fas fa-hourglass-start fa-2x text-warning"></i> <br>
                            <b>Publié le </b><br>
                            {{ concour.date_publication }}
                        </div>
                    {% endif %}

                    {% if concour.type_concours is not empty %}
                        <div class="text-center w-25">
                            <i class="fas fa-book-open fa-2x text-warning"></i><br>
                            {{ concour.type_concours }}
                        </div>
                    {% endif %}

                    {% if concour.grade is not empty %}
                        <div class="text-center w-25">
                            <i class="fas fa-graduation-cap fa-2x text-warning"></i><br>
                            {{ concour.grade }}
                        </div>
                    {% endif %}

                    {% if concour.date_limite is not empty %}
                        <div class="text-center w-25">
                            <i class="fas fa-hourglass-end fa-2x text-warning"></i> <br>
                            <b>Limite de dépôt de dossier</b> <br>{{ concour.date_limite }}
                        </div>
                    {% endif %}
                </div>
                <div>
                    <b>Epreuve</b> : {{ concour.epreuve | striptags('<b><strong><ul><li><a><img><ol><u><i>') | raw }}
                    <br>
                </div>
            </div>
            <a href="{{ concour.url }}" class="align-self-center btn btn-outline-light">Détail du concours</a>
        </div>
    {% endfor %}
</div>