<div class="row no-gutters shadow-lg seachForm content-page">
    <div class="col-md-3 d-none d-lg-block">
        <img src="/themes/site/img/img_search.png" class="w-100" alt="Recherche">
    </div>
    <div class="col bg-info">
        <h2 class="c-top text-center text-light">
            Notre offre de soins
        </h2>
        <form action="{{ data.action }}" method="GET">
            <div class="row">
                {% if data.form.lieu %}
                    <div class="col-lg-6">
                        <div class="form-group">

                            {{ data.form.lieu["#title"] }}
                            <div class="no-title">
                                {{ data.form.lieu }}
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="col-lg-{% if data.form.lieu %}6{% else %}12{% endif %}">
                    <div class="form-group">
                        {{ data.form.type["#title"] }}
                        <div class="no-title">
                            {{ data.form.type }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 text-center">
                <button class="c-around" type="submit">Je recherche</button>
            </div>
        </form>
    </div>
</div>