<div class="acces-rapide">
    <div class="container">
        <div class="d-lg-flex flex-column align-items-end">
            {% for key, link in data %}
                <a class="d-lg-flex align-items-center bg-warning">
                    <img class="mr-2" src="{{ link.icon }}" alt="{{ link.title }}">
                    <span class="op0">{{ link.title }}</span>
                </a>
            {% endfor %}
        </div>
    </div>
</div>

