<div class="col-md-5">
    <img src="{{ data.image }}" alt="Livret" class="img-fluid">
</div>
<div class="col-md-7">
    <p class="mt-4 mb-4"><a href="#" data-toggle="modal" data-target="#exampleModal" class="text-primary"><u>Feuilleter</u></a></p>
    <p class="mt-2 mb-4"><a href="{{ data.file }}" title="Télécharger le PDF" target="_blank" class="text-primary"><u>Telécharger en PDF</u></a></p>
    <p class="ml-4"><a href="{{ data.url }}" title="Toutes les publications" class="c-around c-bleu">Toutes les publications</a></p>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary" id="exampleModalLabel">Feuilleter le livret</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ data.code | raw }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>