<div class="col-md-7">
    <div class="posr">
        <img src="{{ data.formation.image.url }}" alt="{{ data.formation.image.alt }}" class="img-fluid">
        <div class="bg-white">
            <h5 class="text-info"><a href="{{ data.formation.link }}">{{ data.formation.title }}</a></h5>
            <p class="mb-0">{{ data.formation.summary | raw }}</p>
        </div>
    </div>
</div>
<div class="col-md-5">
    <div class="d-flex flex-column justify-content-between align-items-center text-center h-100">
        <a href="{{ data.formation.url }}" class="text-left">

            <span class="text-uppercase d-block">SE FORMER à l'ifsi</span>
            <span>Découvrez toutes nos formations</span>
        </a>
        <a href="{{ data.offre.url }}">
            <span class="text-uppercase d-block">Offres d'emploi</span>
            <span>Actuellement {{ data.offre.nb }} offre{% if data.offre.nb > 1 %}s{% endif %} d'emploi</span>
        </a>
        <a href="{{ data.candidature.url }}">
            <i class="fas fa-plus-circle text-warning d-block"></i>
            <span class="text-uppercase">Déposez votre candidature</span>
        </a>
    </div>
</div>